<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title> GUiproperties</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <h2> File attributes </h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">DB_SID</th>
                            <th scope="col">DB_IP</th>
                            <th scope="col">DB_PORT</th>
                            <th scope="col">DB_USER</th>
                            <th scope="col">DB_PASS</th>
                            <th scope="col">DB_PART</th>
                            <th scope="col">DB_MinCxPpart</th>
                            <th scope="col">DB_MaxCxPpart</th>
                            <th scope="col">DB_PDFPATH</th>
                            <th scope="col">DB_MAILS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:object="${params}">
                            <td th:text="${params[0]}"> </td>
                            <td th:text="${params[1]}"> </td>
                            <td th:text="${params[2]}"> </td>
                            <td th:text="${params[3]}"> </td>
                            <td th:text="${params[4]}"> </td>
                            <td th:text="${params[5]}"> </td>
                            <td th:text="${params[6]}"> </td>
                            <td th:text="${params[7]}"> </td>
                            <td th:text="${params[8]}"> </td>
                            <td th:text="${params[9]}"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12">
                <a href="/view/update"><h3> Update values </h3></a>
            </div>

            <div class="col-md-12">
                <h2> Or change your file </h2>
                <!-- parametriza ubicacion del archivo-->
                <form action="fileupload" method="POST" enctype="multipart/form-data">
                    <div class="form-groups">
                        <label for="fileupload"> Locate file </label>
                        <input type="file" class="form-control" id="file" name="file" />
                    </div>
                    <button type="submit" class="btn btn-primary"> Accept </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>